* {
    margin: 0;
    padding: 0;
}

html, body, #container {
    height: 100%;
}

body > #container {
    height: auto;
    min-height: 100%;
}

#header {
    background-color: #270113;
    margin: 0;
    height: 40px;
}

html { 
  background: url(resources/WomenVB1.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*#main {
    display: inline-block;
    height:100%;
    width:100%;
    background-image: url("Resources/WomenVB1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding-bottom: 51px;
    margin-bottom: 30px;
}*/

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 50px;
    margin-top: -50px;
    background-color: #270113;
    color: #4b4b4b;
         
}

#footer p {
    text-align: center;
    padding-top: 20px;    
    }

.menu {
    font-size: 16px;
    font-family: "open_sansbold","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #5c5a5a;
}

.menu ul {
     height: auto;
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
}

#welcome {  
    margin: 50px 0;
    text-align:center;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    text-shadow: 3px 2px 3px #0d044b;
}

.menu li {
    display: inline; 
    padding: 20px;
    height: 30px; 
    position:center;
}

.menu a {
    text-decoration: none;
    color: #868686;
    padding: 8px;
}

.menu a:hover {
    color: #bebdbd;
    background-color: #c21152;
    border-radius: 8px;
}

#vb {
    color: #fffc54;
    text-shadow: 3px 2px 3px #2b1e1e;
}

.gender a {
    color: #e5d29d;
}

#active a {
background-color: #c21152;
border-radius: 8px;
}

#content {
    display:block;
    width: 1000px ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
}

#info {
    float: left;
    color:white;
    background-color:rgba(31, 31, 46, 0.5);
    width: 250px;
    height:500px;
    font-family: "open_sansbold","Trebuchet MS",Arial,Helvetica,sans-serif;
}

#crossfade {
    width:750px;
    height:500px;
    position: relative;
    float: left;
}

#crossfade > img { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 42s linear infinite 0s;
    -moz-animation: imageAnimation 42s linear infinite 0s;
    -o-animation: imageAnimation 42s linear infinite 0s;
    -ms-animation: imageAnimation 42s linear infinite 0s;
    animation: imageAnimation 42s linear infinite 0s; 
}

#crossfade > img:nth-child(2)  {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
#crossfade > img:nth-child(3) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
#crossfade > img:nth-child(4) {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
#crossfade > img:nth-child(5) {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}

#crossfade > img:nth-child(6) {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}

#crossfade > img:nth-child(7) {
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -o-animation-delay: 36s;
    -ms-animation-delay: 36s;
    animation-delay: 36s; 
}

@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
