.GameSchedule {
    /*overflow-y: scroll;*/
    height: 580px;    
    width: 1000px;
}

.GameScheduleSection {
    background-color: #FFFFFF;
    color: black;
    margin-top: 50px;
    width: 95%;
    margin-left: 20px;
    border-radius: 5px;
}

.GameDate {
    margin-top: 5px;
    line-height: 25px;
    border-bottom: 1px solid #2548c0;
    text-align: center;
    width: 100%;
}

.GameLocation {
    vertical-align: middle;
    height: 40px;
    text-align: center;
    background-color: #edebeb;
    color: #555;
    width: 100%;
    text-transform: uppercase;
    font-family: "oswaldregular","Trebuchet MS",Arial,Helvetica,sans-serif;
    line-height: 38px;
}



.Teams {
    padding-top: 30px;
    height: 80px;
    color: #2548c0;
    text-transform: uppercase;
    font-family: "oswaldlight","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 34px;
    font-size: 3.4rem;
    line-height: 34px;
    line-height: 3.4rem;
}

.Team1 {
    float: left;
    width: 300px;
    margin-left: 100px;
    text-align : center;
}


.Score {
    float: left;
    width: 170px;
    margin-left : 20px;
    margin-right : 20px;
}

.Team2 {
    text-align : left;
}

#title {
    margin: 50px 0;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    text-shadow: 3px 2px 3px #1f1a96;
}

#content {
    display: block;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#info {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    min-height: 600px;
    display: block;
    color: white;
    background-color: rgba(0, 10, 41, 0.5);
    width: 1000px;
    font-family: "open_sansbold","Trebuchet MS",Arial,Helvetica,sans-serif;
}

#calendar {
    width: 1000px;
    /*height:500px;*/
    position: relative;
    float: left;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


html, body {
    min-height: 100%;
}
