.GameSchedule {
    overflow-y: scroll;
    height: 470px;
    position: fixed;
    width: 1000px;
}

.GameScheduleSection {
    background-color: #FFFFFF;
    color: black;
    margin-top: 50px;
    width: 95%;
    margin-left: 20px;
    border-radius: 5px;
}

.GameDate {
    margin-top: 5px;
    line-height: 25px;
    border-bottom: 1px solid #2548c0;
    text-align: center;
    width: 100%;
}

.GameLocation {
    vertical-align: middle;
    height: 40px;
    text-align: center;
    background-color: #edebeb;
    color: #555;
    width: 100%;
    text-transform: uppercase;
    font-family: "oswaldregular","Trebuchet MS",Arial,Helvetica,sans-serif;
    line-height: 38px;
}



.Teams {
    padding-top: 30px;
    height: 80px;
    color: #2548c0;
    text-transform: uppercase;
    font-family: "oswaldlight","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 34px;
    font-size: 3.4rem;
    line-height: 34px;
    line-height: 3.4rem;
}

.Team1 {
    float: left;
    width: 200px;
    margin-left: 200px;
}


.Score {
    float: left;
    width: 280px;
}

.Team2 {
}
