#activeArea {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 100px;
    min-height: 600px;
    color: white;
    background-color: rgba(0, 10, 41, 0.5);
    width: 1000px;
    font-family: "open_sansbold","Trebuchet MS",Arial,Helvetica,sans-serif;
}

#mainImage {
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 1000px;
    position: relative;
}

.GameSchedule {    
    width: 1000px;
}

.GameScheduleSection {
    background-color: #FFFFFF;
    color: black;
    margin-top: 20px;
    width: 95%;
    margin-left: 20px;
    border-radius: 5px;
}

.GameDate {
    margin-top: 5px;
    line-height: 25px;
    border-bottom: 1px solid #e6002d;
    text-align: center;
    width: 100%;
}

.GameLocation {
    vertical-align: middle;
    height: 40px;
    text-align: center;
    background-color: #edebeb;
    color: #555;
    width: 100%;
    text-transform: uppercase;
    font-family: "oswaldregular","Trebuchet MS",Arial,Helvetica,sans-serif;
    line-height: 38px;
}

.Teams {
    padding-top: 30px;
    height: 80px;
    color: #2548c0;
    text-transform: uppercase;
    font-family: "oswaldlight","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 34px;
    font-size: 3.4rem;
    line-height: 34px;
    line-height: 3.4rem;
}

.Team1 {
    float: left;
    width: 300px;
    margin-left: 100px;
    text-align : center;
}

.Score {
    float: left;
    width: 170px;
    margin-left : 20px;
    margin-right : 20px;
}

.Team2 {
    text-align : left;
}

#liveScore {
    padding-top: 10px;
    height: 40px;
    color: #2548c0;
    text-transform: uppercase;
    font-family: "oswaldlight","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 20px;
    background-color: #242222;
}

#scoreText {
    float: left;
    color: #e6002d;
    width: 300px;
    text-align : right;
}

#longScore {
    float: left;
    width: 300px;
    color:white;
    margin-left : 20px;
    margin-right : 20px;
    text-align:center
}

#shortScore {
    color:#e6002d;
    text-align : left;
}

#teamplayers {
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: "oswaldlight","Trebuchet MS",Arial,Helvetica,sans-serif;
}

.team {
    width: 95%;
    border-collapse: collapse;
    text-align : left;
    margin: 20px auto 30px auto;
}

.team, td, th {
    border: 1px solid white;
    padding: 18px;
}

.tableHeader {
    text-transform: uppercase;
    background-color: #edebeb;
    color: #555;
    font-size: 16px;
    font-weight: bold;
}

.centerText {
    text-align:center;
}

.tableBody {
    background-color: white;
    color: #555;
}

.teamName {
    color: #e6002d;
    font-size: 25px;
    font-weight: bold;
    padding: 50px 0 0 0; 
    text-align:center;
}

#title {
    margin: 50px 0;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    text-shadow: 3px 2px 3px #1f1a96;
}

body {
    line-height: 1;
}

html, body {
    min-height: 100%;
}

