#content {
    display:block;
    width: 1000px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
    background-color:rgba(0, 10, 41, 0.5);
}

#info {
    float: left;
    color:white;
    width: 300px;
    margin-right: 30px;
    margin-top: 20px;
    height:500px;
    font-family: "open_sansbold","Trebuchet MS",Arial,Helvetica,sans-serif;
}

#career {
    float: left;
    color:white;
    margin-top: 20px;
    width: 300px;
    height:500px;
    font-family: "open_sansbold","Trebuchet MS",Arial,Helvetica,sans-serif;
}

#crossfade {
    width: 350px;
    height: 500px;
    height:auto;
    position: relative;
    float: left;
    margin-bottom: 60px;
}

#crossfade > img { 
    margin: 20px 50px 20px 20px;
    max-width: 300px;
    height: 450px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
}

.playerInfo{
    float: left;
    display:inline;
    /*margin-left: 20px;*/
    font-family: "oswaldlight","Trebuchet MS",Arial,Helvetica,sans-serif;
    /*text-transform: uppercase;*/
    font-size: 18px;
}

#playerNumber {
    margin-left:5px;
    width:60px;
    height:60px;
    text-align:center;
    background-color: #e6002d;
    font-size:50px;

}

#captain {
    color: #e6002d;
}

.redStyle {
    color: #e6002d;
    /*height:60px;*/
    text-transform: uppercase;
    font-size: 22px;

}

#content ul li {
    list-style-type:none;
    margin: 15px;
}
.naming ul li {
    /*margin: 15px 5px;*/
    display: inline-block;
}

.underlined {
    font-size: 30px;
    text-align:center;
    width: 250px;
    border-bottom: 1px solid #e6002d;
}

#secondPortionInfo {
margin-top: 100px;
}