@{
    ViewBag.Title = "Player Profile";
}

@section css{
    @if (ViewBag.gender == "female")
    {
        <link href="@Url.Content("~/Content/Styles/PlayerProfileW.css")" rel="stylesheet" />
    }
    else
    {
        <link href="@Url.Content("~/Content/Styles/PlayerProfile.css")" rel="stylesheet" />
    }

}

<div id="main">
    <h1 class="pageTitle">Player Profile</h1>
    <div id="content">
        <div id="crossfade">
                <img src="~/Content/Images/Player.jpg"/>
        </div>
        <div id="info">
        </div>
    </div>
</div>