@{
    ViewBag.Title = "Contact information";
}

@section css{
    @if (ViewBag.gender == "female")
    {
        <link href="@Url.Content("~/Content/Styles/ContactW.css")" rel="stylesheet" />
    }
    else
    {
        <link href="@Url.Content("~/Content/Styles/Contact.css")" rel="stylesheet" />
    }

}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div id="content">
    <section class="contact">
        <header class="header">
            <h3>Phone</h3>
        </header>
        <p>
            <span class="label">Phone numbers:</span>
            <div>8 (066) 555 0100</div>
            <div>8 (099) 557 8100</div>
            <div>8 (067) 557 6166</div>
        </p>
    </section>

    <section class="contact">
        <header class="header">
            <h3>Email</h3>
        </header>
        <p>
            <span class="label">Support:</span>
            <span><a href="mailto:VolleyballLeague@sport.com">VolleyballLeague@sport.com</a></span>
        </p>
        <p>
            <span class="label">Marketing:</span>
            <span><a href="mailto:VolleyballMarketing@sport.com">VolleyballMarketing@sport.com</a></span>
        </p>
        <p>
            <span class="label">General:</span>
            <span><a href="mailto:VolleyballGeneral@sport.com">VolleyballGeneral@sport.com</a></span>
        </p>
    </section>
    </div>
