@model VolleyballMvc.Models.TeamModel

<fieldset>
    <legend>TeamModel</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
